<h2>マイページ</h2>

<p>ポイント</p>
<p>1回ご来店につき1ポイントプレゼント！</p>
<p>※お会計の際にマイページをご提示ください</p>
現在のポイントはPt

<p>獲得クーポン</p>

<p>予約状況</p>
<% @reservations.each do |reservation| %>
  <table>
    <tr>
      <td>
        <%= l reservation.start_time, format: :long %>
      </td>
      <td>
        <%= reservation.reservation_time.start_at + '〜' + reservation.reservation_time.end_at %>
      </td>
      <td>
        <%= reservation.seat.name %>
      </td>
      <td>
        <%= reservation.number_of_people %>名
      </td>
      <td>
        <%= link_to "変更", edit_reservation_path(reservation.id) %>
      </td>
      <td>
        <%= link_to 'キャンセル', reservation_path(reservation.id), method: :delete, "data-confirm" => "本当にキャンセルしますか？データは削除されます。" %>
      </td>
    </tr>
  </table>
<% end %>

<p>登録内容</p>
<p>会員ID</p>
<%= @customer.id %>
<p>氏名</p>
<%= @customer.last_name + " " + @customer.first_name %>
<p>フリガナ</p>
<%= @customer.last_name_kana + " " + @customer.first_name_kana %>
<p>電話番号</p>
<%= @customer.telephone_number %>
<p>メールアドレス</p>
<%= @customer.email %><br>

<%= link_to "編集", information_edit_path %>