<h2>マイページ</h2>

<p>ポイント</p>
<p>1回ご来店につき1ポイントプレゼント！</p>
<p>※お会計の際にマイページをご提示ください</p>
<% if @point.empty? %>
  <%= "0Pt" %>
<% else %>
  <%= @point.count %>Pt
<% end %>

<p>獲得クーポン</p>
<p>次回お会計時にご利用可　※お会計の際にマイページをご提示ください</p>
  <% if @coupon.empty? %>
    <%= "まだ獲得されていません" %>
  <% else %>
    計<%= @coupon.count %>枚
    <% 1.upto(@coupon.count) do %>
      <%= image_tag 'coupon.png', style: "width: 130px;" %>
    <% end %>
  <% end %>
<p>予約状況</p>
<% if @reservations.empty? %>
  <p>予約はありません。</p>
<% end %>
<% @reservations.each do |reservation| %>
  <% reservation_time = Time.zone.parse("#{reservation.start_time} #{reservation.reservation_time.start_at}") %>
  <% if @start_at_obj <= reservation_time %>
    <table>
      <tr>
        <td>
          <%= l reservation.start_time, format: :long %>
        </td>
        <td>
          <%= reservation.reservation_time.start_at + '〜' + reservation.reservation_time.end_at %>
        </td>
        <td>
          <%= reservation.seat.name %>
        </td>
        <td>
          <%= reservation.number_of_people %>名
        </td>
        <td>
          <%= link_to "変更", edit_reservation_path(reservation.id) %>
        </td>
        <td>
          <%= link_to 'キャンセル', reservation_path(reservation.id), method: :delete, "data-confirm" => "本当にキャンセルしますか？データは削除されます。" %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>

<p>登録内容</p>
<p>会員ID</p>
<%= @customer.id %>
<p>氏名</p>
<%= @customer.last_name + " " + @customer.first_name %>
<p>フリガナ</p>
<%= @customer.last_name_kana + " " + @customer.first_name_kana %>
<p>電話番号</p>
<%= @customer.telephone_number %>
<p>メールアドレス</p>
<%= @customer.email %><br>

<%= link_to "編集", information_edit_path %>