<h2>マイページ</h2>

<p>ポイント</p>
<p>1回ご来店につき1ポイントプレゼント！</p>
<p>※お会計の際にマイページをご提示ください</p>
現在のポイントはPt

<p>登録内容</p>
<p>会員ID</p>
<%= @customer.id %>
<p>氏名</p>
<%= @customer.last_name + " " + @customer.first_name %>
<p>フリガナ</p>
<%= @customer.last_name_kana + " " + @customer.first_name_kana %>
<p>電話番号</p>
<%= @customer.telephone_number %>
<p>メールアドレス</p>
<%= @customer.email %><br>

<%= link_to "編集", information_edit_path %>