<h2>座席状況</h2>

<%= form_with url: admin_path, method: :get do |f| %>
  <%= f.date_field :display_date %>
  <%= f.submit '表示' %>
<% end %>

<%= l @display_date, format: :long %>
<% if @display_date == Date.today %>
  本日
<% end %>

<table>
  <thead>
    <th>座席番号</th>
    <% @reservation_times.each do |reservation_time| %>
      <th><%= reservation_time.start_at %></th>
    <% end %>
  </thead>
  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.name %></td>
        <% @reservation_times.each do |reservation_time| %>
          <td>
              <% if @reservations.display_reservation(seat.id, reservation_time.id, @display_date).nil? %>
                <%= form_with model: @reservations, url: new_admin_reservation_path, method: :get do |f| %>
                  <%= f.hidden_field :seat_id, value: seat.id %>
                  <%= f.hidden_field :reservation_time_id, value: reservation_time.id %>
                  <%= f.hidden_field :start_time, value: @display_date %>
                  <%= f.submit '空' %>
                <% end %>
              <% else %>
                <%= link_to "⚪︎", admin_reservation_path(@reservations.display_reservation(seat.id, reservation_time.id, @display_date)) %>
              <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>