<div class="text-white p-2 style_color">管理者による座席予約</div>
<div class="row mb-3 mx-auto">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    
    <%= form_with model: @reservation, url: admin_reservations_path do |f| %>
      <div class="mt-3">座席</div>
      <div class="border border-dark rounded bg-light py-1 px-2 mt-1">
        <div><%= @reservation.seat.name %></div>
        <div><%= l @reservation.start_time, format: :long %></div>
        <div><%= @reservation.reservation_time.start_at + "〜" + @reservation.reservation_time.end_at %></div>
      </div>
      
      <div class="mt-3">予約者</div>
      <div class="border border-dark rounded bg-light py-1 px-2 mt-1">管理者</div>
      
      <div class="form-group mt-3">
        <%= f.label :number_of_people %>
        <%= f.select :number_of_people, *[1..@reservation.seat.limit_number], { include_blank: "---select---" }, {class: "form-control border-dark"} %>
        <div class="text-right">人</div>
      </div>
      <div class="form-group mt-3">
        <%= f.label :comment %>
        <%= f.text_area :comment, class: "form-control border-dark", row: "5" %>
      </div>
      <%= f.hidden_field :seat_id, value: @reservation.seat.id %>
      <%= f.hidden_field :reservation_time_id, value: @reservation.reservation_time.id %>
      <%= f.hidden_field :start_time, value: @reservation.start_time %>
      <%= f.submit '追加', class: 'btn btn-outline-success btn-block' %>
    <% end %>
  </div>
</div>