<div class="text-white p-2 style_color">会員一覧</div>
<div class="row my-3 mx-auto">
  
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    
    
    <%= form_with url: admin_search_path, method: :get do |f| %>
      <div class="d-flex justify-content-end mt-3">
        <%= f.text_field :id, placeholder: "IDで検索", class: "mr-2" %>
        <%= f.submit "検索", class: "btn btn-outline-warning" %>
      </div>
    <% end %>
        <% @customers.each do |customer| %>
          <% unless customer.admin_user? %>
            <div class="row border rounded mt-1">
              <div class="col-6 col-md-6 mt-1">会員ID</div>
              <div class="col-6 col-md-6 px-4 mt-1">
                <%= link_to admin_customer_path(customer.id) do %>
                  <%= customer.id %>
                <% end %>
              </div>
              <div class="col-12 col-md-6 mt-1">氏名カナ</div>
              <div class="col-12 col-md-6 px-4 mt-1">
                <%= customer.last_name_kana %>
                <%= customer.first_name_kana %>
              </div>
              <div class="col-12 col-md-6 mt-1">メールアドレス</div>
              <div class="col-12 col-md-6 px-4 mt-1"><%= customer.email %></div>
              <div class="col-12 col-md-6 mt-1">ステータス</div>
              <div class="col-12 col-md-6 px-4 mt-1"><%= customer.is_active ? '有効' : '退会' %></div>
            </div>
          <% end %>
        <% end %>

    
    <%= paginate @customers %>
  </div>
</div>