<div class="row row-cols-md-10 row-cols-lg-10 text-white p-2 h5", style="background-color: midnightblue;">
  <div class="col-md-4 col-lg-3">座席番号：<%= @seat.name %></div>
  <div class="col-md-5 col-lg-5">予約一覧</div>
</div>
<div class="row row-cols-md-10 row-cols-lg-10 h5">
  <div class="col-md-12 col-lg-12 px-4 mt-3">現在より先の予約を、1枠30分でお取りいただけます。</div>
  <div class="col-md-12 col-lg-12 px-4">必要な枠数分ご予約ください。</div>
</div>
<div class="mt-3 d-none d-md-block">
  <%= week_calendar events: @reservations do |date, reservation| %>
  　<%= date.day %>
  <% end %>
</div>
<div class="mt-3 d-md-none">
  <%= calendar events: @reservations do |date, reservation| %>
  　<%= date.day %>
  <% end %>
</div>