<h2>投稿編集</h2>

<% if @edit_post.errors.any? %>
<%= @edit_post.errors.count %>件のエラーが発生しました
<ul>
  <% @edit_post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @edit_post, url: admin_post_path, method: :patch do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <p>本文</p>
  <%= f.text_area :content %>
  <%= f.submit '投稿' %>
<% end %>