<% if @new_post.errors.any? %>
    <%= @new_post.errors.count %>件のエラーが発生しました
    <ul>
      <% @new_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<h2>新規投稿</h2>
<%= link_to '投稿一覧', admin_posts_path %>
<%= form_with model: @new_post, url: admin_posts_path, method: :post do |f| %>
  <p>画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <p>本文</p>
  <%= f.text_area :content %>
  <%= f.submit '投稿' %>
<% end %>
