<% if @menu.errors.any? %>
  <%= @menu.errors.count %>件のエラーが発生しました
  <ul>
    <% @menu.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>メニュー編集</h2>
  <%= form_with model: @menu, url: admin_menu_path, method: :patch do |f| %>
    <p>メニュー画像</p>
    <%= f.file_field :image, accept: "image/*" %>
    <p>ジャンル</p>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <p>メニュー名</p>
    <%= f.text_field :name %>
    <p>メニュー説明</p>
    <%= f.text_area :introduction %>
    <p>税抜価格</p>
    <%= f.text_field :price %>円
    <%= f.submit '編集' %>
  <% end %>