<h2>メニュー新規登録</h2>

  <%= form_with model: @menu, url: admin_menus_path, method: :post do |f| %>
    <p>メニュー画像</p>
    <%= f.file_field :image, accept: "image/*" %>
    <p>ジャンル</p>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <p>メニュー名</p>
    <%= f.text_field :name %>
    <p>メニュー説明</p>
    <%= f.text_area :introduction %>
    <p>税抜価格</p>
    <%= f.text_field :price %>円
    <%= f.submit '新規追加' %>
  <% end %>