<div class="m-3">
  <div class="h2">
    <%= @customer.last_name_kana + " " + @customer.first_name_kana %> 様
  </div>
  
  <div class="text-white p-2 style_color">クーポン一覧</div>
  <div class="row mt-3">
    <div class="col-7 d-flex align-items-end justify-content-center">有効クーポン枚数：<%= @coupons.where(is_active: :true).count %>枚</div>
    <div class="col-5 d-flex justify-content-end"><%= link_to "会員詳細に戻る", admin_customer_path(@customer.id), class: "btn btn-outline-warning" %></div>
  </div>
  <div class="row mt-3 text-center">
    <div class="col-12 col-md-2 bg-light">クーポンID</div>
    <div class="col-12 col-md-4 bg-light">付与日時</div>
    <div class="col-12 col-md-4 bg-light">更新日時</div>
    <div class="col-12 col-md-2 bg-light">ステータス</div>
  </div>
  <% @coupons.each do |coupon| %>
    <div class="row border border-secondary rounded mt-2 text-center">
      <div class="col-12 col-md-2"><%= coupon.id %></div>
      <div class="col-12 col-md-4"><%= l coupon.created_at, format: :long %></div>
      <div class="col-12 col-md-4"><%= l coupon.updated_at, format: :long %></div>
      <div class="col-12 col-md-2"><%= coupon.is_active ? '有効' : '使用済み' %></div>
    </div>
  <% end %>
</div>
