<!DOCTYPE html>
<html>
  <head>
    <title>N CAFE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <li>
          <%= link_to "Access", access_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% elsif customer_signed_in? %>
        <li>
          <%= link_to "Access", access_path %>
        </li>
        <li>
          <%= link_to "マイページ", my_page_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Access", access_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_customer_session_path %>
        </li>
        <li>
          <%= link_to "ゲストログイン", guest_sign_in_path, method: :post %>
        </li>
        
      <% end %>
    </header>
    
    <%= yield %>
  
    <footer>
      <p>N CAFE ・営業時間 10:00〜18:00 ・定休日 木曜 since 2020</p>
    </footer>
  </body>
</html>
